div.cont {
  height: 100%;
  min-width: 260px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 5px;
  cx-media img {
    display:block;
    margin:auto;
  }
}
